.row
  .span8.offset2
    %h2 Here's your link to share:
    .input-prepend
      %span.add-on.clip_board
        %button#clip_button.clip_board_button{"data-clipboard-target" => "secret_url", "data-clipboard-text" => "Default clipboard text from attribute", :title => 'Copy to clipboard'}
          %i.icon-book
      = text_field_tag 'secret_url',
                       secret_url(@secret),
                       :class => 'span7 disabled_text',
                       :readonly => true
    %hr
    %span.palette-paragraph
      The link is only valid for 10 minutes or one visit (which ever comes first). After that it's deleted.
