.row
  .col-sm-6.col-md-offset-3
    %h2 Here's your link to share:
    .input-group
      %span.input-group-addon.clip_board
        %button#clip_button.clip_board_button{"data-clipboard-target" => "secret_url", "data-clipboard-text" => secret_url(@secret), :title => 'Copy to clipboard', "data-copied-hint" => "copied!"}
          %i.icon-copy
      = text_field_tag 'secret_url',
                        secret_url(@secret),
                        :class => 'col-sm-7 disabled_text form-control',
                        :readonly => true
    %hr
    %span.palette-paragraph
      The link is only valid for 10 minutes or one visit (which ever comes first). After that it's deleted.
