.row
  .span8.offset2
    %h2 Here's your link to share:
    = text_field_tag 'secret_url',
                     secret_url(@secret),
                     :class => 'span8 disabled_text input',
                     :disabled => true
