= form_for @secret do |f|
  - if @secret.errors.any?
    #error_explanation
      %h2
        = pluralize(@narc.errors.count, "error")
        prohibited this narc from being saved

        %ul
          - @narc.errors.full_messages.each do |msg|
            %li
              =msg
  %div.field
    = f.text_field :data
  %div.actions
    = f.submit
