.row
  .col-sm-8.col-md-offset-2
    = form_for @secret, html: { class: 'new_secret form-horizontal' } do |f|
      -error_class = 'error' if @secret.errors.any?
      %div{ :class => "form-group #{error_class}" }
        = f.text_area :data,
                      :rows => 8,
                      :placeholder => 'Put your secret here...',
                      :class => 'col-sm-8 form-control'
      %div{ :class => "form-group" }
        = f.submit :class => 'btn btn-large btn-block form-control'
      %hr
      %span.palette-paragraph
        The link is only valid for 10 minutes or one visit (which ever comes first). After that it's deleted.
