.row
  .span8.offset2
    = form_for @secret do |f|
      -error_class = 'error' if @secret.errors.any?
      %div{ :class => "control-group #{error_class}" }
        = f.text_area :data,
                      :rows => 8,
                      :placeholder => 'Put your secret here...',
                      :class => 'span8'
      %div
        = f.submit :class => 'btn btn-large btn-block'
      %hr
      %small.text-center
        The link only works once and is then deleted
