.row
  .span8.offset2
    %h2 Here you go:
    = text_area_tag 'data',
                    @secret.data,
                    :class => 'span8 disabled_text input',
                    :disabled => true
