.row
  .col-sm-8.col-md-offset-2
    %h2 Here you go:
    .input-group
      %span.input-group-addon.clip_board
        %button#clip_button.clip_board_button{"data-clipboard-target" => "secret_data", "data-clipboard-text" => @secret.decrypted_data.chomp, :title => 'Copy to clipboard', "data-copied-hint" => "copied!"}
          %i.icon-copy
      = text_area_tag 'secret_data',
                      @secret.decrypted_data.chomp,
                      :class => 'col-sm-9 disabled_text',
                      :readonly => true,
                      :rows => 8
    %hr
    %span.palette-paragraph
      This page will be gone if you refresh or close this tab
