.row
  .span8.offset2
    %h2 Here you go:
    .input-prepend
      %span.add-on.clip_board
        %button#clip_button.clip_board_button{"data-clipboard-target" => "secret_data", "data-clipboard-text" => @secret.data.chomp, :title => 'Copy to clipboard', "data-copied-hint" => "copied!"}
          %i.icon-copy
      = text_area_tag 'secret_data',
                      @secret.data.chomp,
                      :class => 'span7 disabled_text',
                      :readonly => true,
                      :rows => 8
    %hr
    %span.palette-paragraph
      This link will be gone if you refresh or close this tab
