/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */
header {
  margin-top: 15px;
  margin-bottom: 15px;
}

header a, header a:hover {
  color: #415b76;
  text-decoration: none;
}

body h2 {
  color: #415b76;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

span a {
  color: #1abc9c !important;
  text-decoration: underline !important;
}

span a:hover {
  text-decoration: none !important;
}

/* https://github.com/iurevych/Flat-UI/pull/23/files */
.input-append .add-on,
.input-prepend .add-on {
  padding: 10px 6px 9px 6px !important;
}

.input-prepend input {
  border-radius: 0 4px 4px 0 !important;
}

.input-append input {
  border-radius: 4px 0 0 4px !important;
}

.clip_board_button {
  height: 20px;
  padding: 0px;
  line-height: 0px;
  border-width: 0px;
  background-color: #ffffff;
}

.clip_board {
  background-color: #ffffff !important;
  border-color: #dce4ec !important;
}

.disabled_text {
  background-color: #ffffff !important;
  color: #1abc9c !important;
  border-color: #dce4ec !important;
}

.new_secret input {
  background-color: #415b76;
  color: #ffffff;
  margin-top: 20px;
}

.new_secret input:active {
  background-color: #2c3e50;
  color: #ffffff;
}

.new_secret input:hover {
  background-color: #4e6d8d;
  color: #ffffff;
}

.clip_button_text_area {
    height: 20px;
}

.palette-paragraph {
  color: #7f8c8d;
  font-size:12px;
  line-height:17px
}

.palette-paragraph span {
  color: #bdc3c7;
}

#secret_url {
  border-width: 2px;
}
