/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flat-ui
 */
header {
  margin-top: 15px;
  margin-bottom: 15px;
}

header a, header a:hover {
  color: #415b76;
  text-decoration: none;
}

/* https://github.com/iurevych/Flat-UI/pull/23/files */
.input-append .add-on,
.input-prepend .add-on {
  padding: 10px 6px 9px 6px !important;
}

.input-prepend input {
  border-radius: 0 4px 4px 0 !important;
}

.input-append input {
  border-radius: 4px 0 0 4px !important;
}

.clip_board_button {
  height: 20px;
  padding: 0px;
  line-height: 0px;
  border-width: 0px;
  background-color: #ffffff;
}

.clip_board {
  background-color: #ffffff !important;
  border-color: #dce4ec !important;
}

.disabled_text {
  background-color: #ffffff !important;
  color: #1abc9c !important;
  border-color: #dce4ec !important;
}
