/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require flat-ui
 */
header {
  margin-top: 15px;
  margin-bottom: 15px;
}

header a, header a:hover {
  color: #415b76;
  text-decoration: none;
}

.disabled_text {
  background-color: #ffffff !important;
  color: #1abc9c !important;
  border-color: #dce4ec !important;
}
